*{margin: 0; padding: 0;}

html,body{
	width: 100%;
	height: 100%;
}
/*css thanh menu*/
a.navbar-brand.menutrai{
	color: #92969a;
	font-weight: 700;
	font-family: 'Merriweather Sans', sans-serif;
	font-size:20px;
	padding-top: 15px;
}
a.navbar-brand.menutrai:hover{
	color:white;
}
.menuphai a.nav-link{
	color: #92969a;
	font-weight: 700;
	padding: 15px 10px;
}
.menuphai a.nav-link:hover{
	color:white;
}

/*css cho noi dung*/
.noidung{
	font-family: 'Merriweather Sans', sans-serif;
	padding-top: 180px;
	background-image:url(images/1.jpg);
	background-size:cover;
	height: 100%;

}
h3.ndto{
	color:white;
	font-weight: 700;
	font-size: 60px;
	position: relative;
	padding-bottom: 50px;
	margin-bottom:0;
}
h3.ndto:after{
	content:'';
	width: 50px;
	height: 3px;
	background-color: #f4623a;
	position: absolute;
	left:45%;
	bottom: 5px;
	margin-bottom:15px;
}

a.btn.btn-danger.ndnut {
    padding: 23px 40px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 700;
    margin-top:30px;
    margin-bottom:110px;
    background-color:#f4623a;
}

p.ndnho {
    color: #92969a;
    font-size: 20px;
}
/*css cho so1*/
.so1{
	background-color: #f4623a;
}
h3.ndto.so1 {
    font-size: 35px;
    font-weight: 400;
    padding-top:125px;
}
h3.ndto.so1:after{
	background-color: white;
	margin-bottom:20px;
	left:47%;
}
p.ndnho.so1 {
	font-size:16px;
	color:#c8cdd2b8;
}
a.btn.btn-danger.ndnut.so1{
	background-color: white;
	color:black;
	margin-top:10px;
	margin-bottom:130px;
}
.ndto.tieude{
	color:black;
	font-size: 35px;
	font-weight: 400;
	left:50%;
	margin-left:-90px;
	padding-top:135px;
	margin-bottom: 55px;
}
.ndto.tieude:after{
	left:38%;
}

._1khoi i{
	font-size: 60px;
	color:#f4623a;
}
.ndto.so2{
	color:black;
	font-size: 25px;
	font-weight: 400;
	padding-top: 15px;
}
.ndto.so2:after{
	display:none;
}
.ndnho.so2{
	margin-top:-40px;
	line-height: 22px;
	font-size: 17px;
	padding-bottom:130px;
}
.so3{
	overflow: hidden;
}
.so3 .layer{
	cursor:pointer;
}
.so3 .layer img{
	width: 455px;
	height: 245px;
	position: relative;
	z-index: 1;
}
.layer .layer2{
	position: absolute;
	top:0;
	left:15px;
	width: 455px;
	height: 245px;
	z-index: 2;
	background-color: #f4623a73;
	opacity: 0;
}
.layer:hover .layer2{
	opacity:1;
}
.layer .layer3{
	position: absolute;
	top:50%;
	margin-top:-27px;
	left:50%;
	margin-left:-30px;
	z-index: 3;
	opacity: 0;
}
.layer:hover .layer3{
	opacity:1;
}

.so4{
	background-color:#343a40;
}
h3.ndto.so4 {
    font-size: 37px;
    font-weight: 400;
    text-align: center;
    padding-top:130px;
}
h3.ndto.so4:after{
	display: none;
}

.ndnutso4 {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 500;
    border: none;
    position: relative;
    top: -24px;
    left:50%;
    transform: translateX(-50%);
    cursor:pointer;
    margin-bottom: 108px;
}
.ndnutso4:hover{
	background-color: gray;
}

h3.ndto.so5 {
    color: black;
    font-weight: 400;
    font-size: 40px;
    padding-top: 120px;
    text-align: center;
}

p.ndnho.so5 {
    font-size: 18px;
}
.so5  .fontfa{
	font-size: 50px;
	font-weight:#92969a;
	text-align: center;
}

.footer {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

/*CSS cho JavaScript*/
.navbar.navbar-fixed-top.menutrang{
	background-color:white;
	box-shadow: 0 2px 5px gray;
}

@media (max-width: 376px){
	.menu .navbar{
		background-color: white;
	}
}